@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1.2vw+1.2vh);
  --text: #e7e7e0;
  --transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}

body{
  background-color: #010101;
  line-height: 1.5;
}

.header-main{
  position: relative;
}

.header-main::after{
  position: absolute;
  content: "";
  z-index: 100;
  width: 100%;
  height: calc(var(--index) * 10);
  background-image: url("./img/ground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: calc(var(--index)* -4.5);
}

.layers{
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.layer-head{
  z-index: 1;
  transform: translate3d(0, calc(var(--scrollTop)/2), 0);
  transition: var(--transition);
  will-change: transform;
  text-transform: uppercase;
  color: var(--text);
  text-shadow: 0 0 20px #ffc107;
}

.caption{
  transform: translate3d(0, calc(var(--scrollTop)/5.7), 0);
  font-size: 1.8em;
  font-weight: bolder;
  letter-spacing: calc(var(--index)/ 3.5);
  margin-top: calc(var(--index) * -0.75);
}

.title{
  font-size: 1.5em;
  font-weight: bolder;
  letter-spacing: calc(var(--index) /2.5);
}

.img-layer{
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
  z-index: 2;
  transition: var(--transition);
}

.layer-base{
  transform: translate3d(0, calc(var(--index)/1.6), 0);
  z-index: 0;
}

.layer-mid{
  transform: translate3d(0, calc(var(--index)/2.5), 0);
}

.layer-front{
  transform: translate3d(0, calc(var(--index)/5.6), 0);
}

.article-main{
  min-height: 100dvh;
  background-size: cover;
  background-position: center;
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: -2px;
  z-index: 10;
}

.m-header{
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: calc(var(--index)/7.6);
  transform: var(--mainarticle-transform);
  transition: var(--transition);
  will-change: transform;
}

.m-paragraph{
  max-width: calc(var(--index)*30);
  font-size: calc(var(--index)*0.9);
  margin-top: calc(var(--index)/1.25);
  transform: var(--mainarticle-transform);
  transition: var(--transition);
  will-change: transform;
}

.content{
  will-change: transform;
}