@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgb(27, 27, 27);
}

.parallax-container{
  background: inherit;
  min-height: 100vh;
  /* overflow-x: hidden; */
}

header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  justify-content: space-between;
  align-items:  center;
  z-index: 100;
}

.parallax{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#text{
  position: absolute;
  font-size: 5em;
  text-shadow: 2px 2px 4px black;
}

.parallax img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}